@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

header {
  display: flex;
  align-items: center;
  padding: 30px 5%;
  position: relative;
}

.logo,
.github-icon,
.linkdin-icon {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}

.github-icon {
  color: black;
}

.github {
  padding-right: 10px;
  padding-top: 10px;
  border-right: 1px solid;
  border-color: rgb(190, 187, 187);
}

.linkdin {
  padding-left: 10px;
  padding-top: 10px;
  border-left: 1px solid;
  border-color: rgb(190, 187, 187);
}

.linkdin-icon {
  color: #0f4bcc;
}

li,
a {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

a {
  text-decoration: none;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  color: #7733ff;
}

.nav-links li a:hover {
  color: #4807ca;
}

.menubar-right {
  position: absolute;
  right: 100px;
}

h1 > span {
  color: #7733ff;
}

.logo {
  padding-right: 50px;
  cursor: pointer;
}

.projectsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 18px;
  border-radius: 15px;
  background-color: #f6f1ff;
}

.projectsWrapper:hover {
  background-color: #d2bef7;
}
